<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>highways</key>
	<array>
		<dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>G2京沪高速公路</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>26.04</string>
                    <key>startDate</key>
                    <string>1996年9月15日</string>
                    <key>endDate</key>
                    <string>2028年8月31日</string>
                    <key>chargingLength</key>
                    <string>32</string>
                    <key>start</key>
                    <string>G2京沪与江苏省界</string>
                    <key>destination</key>
                    <string>大渡河路</string>
                    <key>tollStationInMainRoad</key>
                    <string>2</string>
                    <key>tollStationInRingRoad</key>
                    <string>4</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>G2京沪高速安亭收费站</string>
				<string>G2花桥绿地大道收费站</string>
				<string>G2安亭汽车城收费站</string>
				<string>G2嘉松公路收费站</string>
				<string>G2华江路收费站</string>
				<string>G2京沪高速江桥收费站</string>
			</array>
			<key>code</key>
			<string>G2</string>
			<key>name</key>
			<string>G2京沪高速公路</string>
			<key>description</key>
			<string>北京-上海 高速公路</string>
			<key>openingDate</key>
			<string>2006年11月29日全通</string>
			<key>length</key>
			<string>1219</string>
			<key>start</key>
			<string>北京分钟寺桥</string>
			<key>destination</key>
			<string>上海真北路</string>
			<key>exits</key>
			<string>97</string>
		</dict>
		<dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>G15沈海高速公路嘉浏段</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>17.591</string>
                    <key>startDate</key>
                    <string>2001年12月30日</string>
                    <key>endDate</key>
                    <string>2022年12月31日</string>
                    <key>chargingLength</key>
                    <string>22</string>
                    <key>start</key>
                    <string>嘉定浏河大桥</string>
                    <key>destination</key>
                    <string>嘉定沪嘉立交</string>
                    <key>tollStationInMainRoad</key>
                    <string>1</string>
                    <key>tollStationInRingRoad</key>
                    <string>2</string>
				</dict>
                <dict>
					<key>name</key>
					<string>G15沈海高速公路嘉金段</string>
                    <key>chargeType</key>
                    <string>还贷</string>
                    <key>length</key>
                    <string>64.975</string>
                    <key>startDate</key>
                    <string>2007年12月1日</string>
                    <key>endDate</key>
                    <string>2028年11月30日</string>
                    <key>chargingLength</key>
                    <string>15</string>
                    <key>start</key>
                    <string>G1501</string>
                    <key>destination</key>
                    <string>S4</string>
                    <key>tollStationInMainRoad</key>
                    <string>0</string>
                    <key>tollStationInRingRoad</key>
                    <string>10</string>
				</dict>
                <dict>
					<key>name</key>
					<string>G15沈海高速公路莘奉金段</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>纳入S4莘奉金高速公路里</string>
                    <key>startDate</key>
                    <string>2002年12月27日</string>
                    <key>endDate</key>
                    <string>2027年12月26日</string>
                    <key>chargingLength</key>
                    <string>25</string>
                    <key>start</key>
                    <string></string>
                    <key>destination</key>
                    <string></string>
                    <key>tollStationInMainRoad</key>
                    <string>1</string>
                    <key>tollStationInRingRoad</key>
                    <string>2</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>G15沈海高速朱桥收费站</string>
				<string>G15朱桥收费站</string>
				<string>G15嘉西收费站</string>
				<string>G15宝安公路收费站</string>
				<string>G15曹安公路收费站</string>
				<string>G15北青公路收费站</string>
				<string>G15崧泽高架路收费站</string>
				<string>G15沪青平公路收费站</string>
				<string>G15沪松公路收费站</string>
				<string>G15莘砖公路收费站</string>
				<string>G15车亭公路收费站</string>
				<string>G15叶新公路收费站</string>
				<string>G15金山工业区大道收费站</string>
				<string>G15亭卫公路收费站</string>
				<string>G15金山新城收费站</string>
				<string>G15沈海高速沪浙收费站</string>
			</array>
			<key>code</key>
			<string>G15</string>
			<key>name</key>
			<string>G15沈海高速</string>
			<key>description</key>
			<string>沈阳-海口 高速公路</string>
			<key>openingDate</key>
			<string>不详</string>
			<key>length</key>
			<string>3697.737</string>
			<key>start</key>
			<string>辽宁沈阳</string>
			<key>destination</key>
			<string>海南海口</string>
			<key>exits</key>
			<string>不详</string>
		</dict>
	</array>
</dict>
</plist>
