<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>highways</key>
	<array>
		<dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>G2京沪高速公路</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>26.04</string>
                    <key>startDate</key>
                    <string>1996年9月15日</string>
                    <key>endDate</key>
                    <string>2028年8月31日</string>
                    <key>chargingLength</key>
                    <string>32</string>
                    <key>start</key>
                    <string>G2京沪与江苏省界</string>
                    <key>destination</key>
                    <string>大渡河路</string>
                    <key>tollStationInMainRoad</key>
                    <string>2</string>
                    <key>tollStationInRingRoad</key>
                    <string>4</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>G2京沪高速安亭收费站</string>
				<string>G2花桥绿地大道收费站</string>
				<string>G2安亭汽车城收费站</string>
				<string>G2嘉松公路收费站</string>
				<string>G2华江路收费站</string>
				<string>G2京沪高速江桥收费站</string>
			</array>
			<key>code</key>
			<string>G2</string>
			<key>name</key>
			<string>G2京沪高速公路</string>
			<key>description</key>
			<string>北京-上海 高速公路</string>
			<key>openingDate</key>
			<string>2006年11月29日全通</string>
			<key>length</key>
			<string>1219</string>
			<key>start</key>
			<string>北京分钟寺桥</string>
			<key>destination</key>
			<string>上海真北路</string>
			<key>exits</key>
			<string>97</string>
		</dict>
		<dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>G15沈海高速公路嘉浏段</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>17.591</string>
                    <key>startDate</key>
                    <string>2001年12月30日</string>
                    <key>endDate</key>
                    <string>2022年12月31日</string>
                    <key>chargingLength</key>
                    <string>22</string>
                    <key>start</key>
                    <string>嘉定浏河大桥</string>
                    <key>destination</key>
                    <string>嘉定沪嘉立交</string>
                    <key>tollStationInMainRoad</key>
                    <string>1</string>
                    <key>tollStationInRingRoad</key>
                    <string>2</string>
				</dict>
                <dict>
					<key>name</key>
					<string>G15沈海高速公路嘉金段</string>
                    <key>chargeType</key>
                    <string>还贷</string>
                    <key>length</key>
                    <string>64.975</string>
                    <key>startDate</key>
                    <string>2007年12月1日</string>
                    <key>endDate</key>
                    <string>2028年11月30日</string>
                    <key>chargingLength</key>
                    <string>15</string>
                    <key>start</key>
                    <string>G1501</string>
                    <key>destination</key>
                    <string>S4</string>
                    <key>tollStationInMainRoad</key>
                    <string>0</string>
                    <key>tollStationInRingRoad</key>
                    <string>10</string>
				</dict>
                <dict>
					<key>name</key>
					<string>G15沈海高速公路莘奉金段</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>纳入S4莘奉金高速公路里</string>
                    <key>startDate</key>
                    <string>2002年12月27日</string>
                    <key>endDate</key>
                    <string>2027年12月26日</string>
                    <key>chargingLength</key>
                    <string>25</string>
                    <key>start</key>
                    <string></string>
                    <key>destination</key>
                    <string></string>
                    <key>tollStationInMainRoad</key>
                    <string>1</string>
                    <key>tollStationInRingRoad</key>
                    <string>2</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>G15沈海高速朱桥收费站</string>
				<string>G15朱桥收费站</string>
				<string>G15嘉西收费站</string>
				<string>G15宝安公路收费站</string>
				<string>G15曹安公路收费站</string>
				<string>G15北青公路收费站</string>
				<string>G15崧泽高架路收费站</string>
				<string>G15沪青平公路收费站</string>
				<string>G15沪松公路收费站</string>
				<string>G15莘砖公路收费站</string>
				<string>G15车亭公路收费站</string>
				<string>G15叶新公路收费站</string>
				<string>G15金山工业区大道收费站</string>
				<string>G15亭卫公路收费站</string>
				<string>G15金山新城收费站</string>
				<string>G15沈海高速沪浙收费站</string>
			</array>
			<key>code</key>
			<string>G15</string>
			<key>name</key>
			<string>G15沈海高速</string>
			<key>description</key>
			<string>沈阳-海口 高速公路</string>
			<key>openingDate</key>
			<string>不详</string>
			<key>length</key>
			<string>3697.737</string>
			<key>start</key>
			<string>辽宁沈阳</string>
			<key>destination</key>
			<string>海南海口</string>
			<key>exits</key>
			<string>不详</string>
		</dict>
        <dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>上海长江隧道</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>25.526</string>
                    <key>startDate</key>
                    <string>2009年10月31日</string>
                    <key>endDate</key>
                    <string>2034年10月30日</string>
                    <key>chargingLength</key>
                    <string>25</string>
                    <key>start</key>
                    <string>浦东五号沟</string>
                    <key>destination</key>
                    <string>崇明陈家镇</string>
                    <key>tollStationInMainRoad</key>
                    <string>0</string>
                    <key>tollStationInRingRoad</key>
                    <string>2</string>
				</dict>
                <dict>
					<key>name</key>
					<string>G40崇启隧道(上海段)</string>
                    <key>chargeType</key>
                    <string>还贷</string>
                    <key>length</key>
                    <string>30.735</string>
                    <key>startDate</key>
                    <string>2011年12月24日</string>
                    <key>endDate</key>
                    <string>2025年12月23日</string>
                    <key>chargingLength</key>
                    <string>15</string>
                    <key>start</key>
                    <string>崇明陈家镇</string>
                    <key>destination</key>
                    <string>崇明越江隧道工程</string>
                    <key>tollStationInMainRoad</key>
                    <string>1</string>
                    <key>tollStationInRingRoad</key>
                    <string>1</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>G40长兴岛收费站</string>
				<string>G40陈海公路收费站</string>
				<string>G40向化公路收费站</string>
				<string>G40沪陕高速沪苏收费站</string>
			</array>
			<key>code</key>
			<string>G40</string>
			<key>name</key>
			<string>G40沪陕高速</string>
			<key>description</key>
			<string>上海—西安 高速公路</string>
			<key>openingDate</key>
			<string>不详</string>
			<key>length</key>
			<string>1490</string>
			<key>start</key>
			<string>上海浦东新区</string>
			<key>destination</key>
			<string>陕西西安</string>
			<key>exits</key>
			<string>不详</string>
		</dict>
        <dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>G50沪渝高速公路</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>47.199</string>
                    <key>startDate</key>
                    <string>2002年12月27日</string>
                    <key>endDate</key>
                    <string>2027年12月26日</string>
                    <key>chargingLength</key>
                    <string>25</string>
                    <key>start</key>
                    <string>S20</string>
                    <key>destination</key>
                    <string>G50江苏省界</string>
                    <key>tollStationInMainRoad</key>
                    <string>2</string>
                    <key>tollStationInRingRoad</key>
                    <string>5</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>G50沪渝高速徐泾收费站</string>
				<string>G50嘉松中路收费站</string>
				<string>G50青浦城区收费站</string>
				<string>G50朱枫公路收费站</string>
                <string>G50西岑收费站</string>
                <string>G50金泽收费站</string>
                <string>G50沪渝高速沪苏收费站</string>
			</array>
			<key>code</key>
			<string>G50</string>
			<key>name</key>
			<string>G50沪渝高速</string>
			<key>description</key>
			<string>上海—重庆 高速公路</string>
			<key>openingDate</key>
			<string>2009年12月19日</string>
			<key>length</key>
			<string>1768</string>
			<key>start</key>
			<string>上海长宁区</string>
			<key>destination</key>
			<string>重庆渝北区</string>
			<key>exits</key>
			<string>不详</string>
		</dict>
        <dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>G60沪昆高速公路</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>47.67</string>
                    <key>startDate</key>
                    <string>1990年12月22日</string>
                    <key>endDate</key>
                    <string>2030年8月31日</string>
                    <key>chargingLength</key>
                    <string>40</string>
                    <key>start</key>
                    <string>S20</string>
                    <key>destination</key>
                    <string>枫泾</string>
                    <key>tollStationInMainRoad</key>
                    <string>2</string>
                    <key>tollStationInRingRoad</key>
                    <string>6</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>G60沪昆高速新桥收费站</string>
				<string>G60新桥收费站</string>
				<string>G60松江收费站</string>
				<string>G60松江新城收费站</string>
                <string>G60大港收费站</string>
                <string>G60石湖荡收费站</string>
                <string>G60新浜收费站</string>
                <string>G60沪昆高速枫泾收费站</string>
			</array>
			<key>code</key>
			<string>G60</string>
			<key>name</key>
			<string>G60沪昆高速</string>
			<key>description</key>
			<string>上海－昆明 高速公路</string>
			<key>openingDate</key>
			<string>2010年1月1日</string>
			<key>length</key>
			<string>2730</string>
			<key>start</key>
			<string>上海闵行区</string>
			<key>destination</key>
			<string>云南昆明</string>
			<key>exits</key>
			<string>不详</string>
		</dict>
        <dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>G1501上海绕城高速东段</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>24.84</string>
                    <key>startDate</key>
                    <string>2009年10月30日</string>
                    <key>endDate</key>
                    <string>2030年12月31日</string>
                    <key>chargingLength</key>
                    <string>21</string>
                    <key>start</key>
                    <string>五洲大道</string>
                    <key>destination</key>
                    <string>界河</string>
                    <key>tollStationInMainRoad</key>
                    <string>1</string>
                    <key>tollStationInRingRoad</key>
                    <string>6</string>
				</dict>
                <dict>
					<key>name</key>
					<string>G1501上海绕城高速东南段</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>50.71</string>
                    <key>startDate</key>
                    <string>2004年12月28日</string>
                    <key>endDate</key>
                    <string>2029年12月27日</string>
                    <key>chargingLength</key>
                    <string>25</string>
                    <key>start</key>
                    <string>界河</string>
                    <key>destination</key>
                    <string>S4</string>
                    <key>tollStationInMainRoad</key>
                    <string>0</string>
                    <key>tollStationInRingRoad</key>
                    <string>8</string>
				</dict>
                <dict>
					<key>name</key>
					<string>G1501上海绕城高速南段</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>28.55</string>
                    <key>startDate</key>
                    <string>2005年12月23日</string>
                    <key>endDate</key>
                    <string>2030年7月1日</string>
                    <key>chargingLength</key>
                    <string>25</string>
                    <key>start</key>
                    <string>浦卫</string>
                    <key>destination</key>
                    <string>亭枫</string>
                    <key>tollStationInMainRoad</key>
                    <string>0</string>
                    <key>tollStationInRingRoad</key>
                    <string>3</string>
				</dict>
                <dict>
					<key>name</key>
					<string>G1501上海绕城高速同三段</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>46.335</string>
                    <key>startDate</key>
                    <string>2002年12月27日</string>
                    <key>endDate</key>
                    <string>2027年12月26日</string>
                    <key>chargingLength</key>
                    <string>25</string>
                    <key>start</key>
                    <string>安亭</string>
                    <key>destination</key>
                    <string>新农</string>
                    <key>tollStationInMainRoad</key>
                    <string>0</string>
                    <key>tollStationInRingRoad</key>
                    <string>5</string>
				</dict>
                <dict>
					<key>name</key>
					<string>G1501上海绕城高速北段</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>35.1</string>
                    <key>startDate</key>
                    <string>2009年9月4日</string>
                    <key>endDate</key>
                    <string>2028年12月31日</string>
                    <key>chargingLength</key>
                    <string>25</string>
                    <key>start</key>
                    <string>昆山花桥镇</string>
                    <key>destination</key>
                    <string>绕城同济路高架交界处</string>
                    <key>tollStationInMainRoad</key>
                    <string>1</string>
                    <key>tollStationInRingRoad</key>
                    <string>6</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>G1501金海路收费站</string>
				<string>G1501龙东大道收费站</string>
				<string>G1501华夏东路收费站</string>
				<string>G1501迎宾高速收费站</string>
                <string>G1501机场大道收费站</string>
                <string>G1501闻居路收费站</string>
                <string>G1501拱极路收费站</string>
                <string>G1501沪南公路收费站</string>
                <string>G1501东大公路收费站</string>
                <string>G1501新四平公路收费站</string>
                <string>G1501瓦洪公路收费站</string>
                <string>G1501奉城收费站</string>
                <string>G1501林海公路收费站</string>
                <string>G1501浦星公路收费站</string>
                <string>G1501浦卫公路收费站</string>
                <string>G1501亭林收费站</string>
                <string>G1501亭枫公路收费站</string>
                <string>G1501泖港收费站</string>
                <string>G1501塔闵公路收费站</string>
                <string>G1501天马收费站</string>
                <string>G1501重固收费站</string>
                <string>G1501白鹤收费站</string>
                <string>G1501宝安公路收费站</string>
                <string>G1501嘉松北路收费站</string>
                <string>G1501永盛路收费站</string>
                <string>G1501浏翔公路收费站</string>
                <string>G1501沪太公路收费站</string>
                <string>G1501蕴川路收费站</string>
                <string>G1501上海绕城高速月浦收费站</string>
			</array>
			<key>code</key>
			<string>G1501</string>
			<key>name</key>
			<string>G1501上海绕城高速</string>
			<key>description</key>
			<string>上海绕城高速公路</string>
			<key>openingDate</key>
			<string>2009年10月30日</string>
			<key>length</key>
			<string>189</string>
			<key>start</key>
			<string>环线</string>
			<key>destination</key>
			<string>环线</string>
			<key>exits</key>
			<string>34</string>
		</dict>
        <dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>S2沪芦高速公路</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>42.309</string>
                    <key>startDate</key>
                    <string>2004年12月29日</string>
                    <key>endDate</key>
                    <string>2029年12月28日</string>
                    <key>chargingLength</key>
                    <string>25</string>
                    <key>start</key>
                    <string>康桥</string>
                    <key>destination</key>
                    <string>临港</string>
                    <key>tollStationInMainRoad</key>
                    <string>2</string>
                    <key>tollStationInRingRoad</key>
                    <string>4</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>S2沪芦高速康桥收费站</string>
				<string>S2沪南公路收费站</string>
				<string>S2大叶公路收费站</string>
				<string>S2新四平公路收费站</string>
                <string>S2南芦公路收费站</string>
                <string>S2沪芦高速临港收费站站</string>
			</array>
			<key>code</key>
			<string>S2</string>
			<key>name</key>
			<string>S2沪芦高速</string>
			<key>description</key>
			<string>上海—芦潮港 高速公路</string>
			<key>openingDate</key>
			<string>2004年12月29日(北段),2005年12月2日(南段)</string>
			<key>length</key>
			<string>42.3</string>
			<key>start</key>
			<string>S20公路</string>
			<key>destination</key>
			<string>东海大桥</string>
			<key>exits</key>
			<string>不详</string>
		</dict>
        <dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>S4沪金高速公路</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>56.429</string>
                    <key>startDate</key>
                    <string>2002年12月27日</string>
                    <key>endDate</key>
                    <string>2027年12月26日</string>
                    <key>chargingLength</key>
                    <string>25</string>
                    <key>start</key>
                    <string>S20</string>
                    <key>destination</key>
                    <string>金山区G15沪浙省界</string>
                    <key>tollStationInMainRoad</key>
                    <string>1</string>
                    <key>tollStationInRingRoad</key>
                    <string>7</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>S4沪金高速颛桥收费站</string>
				<string>S4剑川路收费站</string>
				<string>S4西闸公路收费站</string>
				<string>S4大叶公路收费站</string>
                <string>S4南桥收费站</string>
                <string>S4海湾路收费站</string>
                <string>S4上海化学工业区收费站</string>
                <string>S4庄胡公路收费站</string>
			</array>
			<key>code</key>
			<string>S4</string>
			<key>name</key>
			<string>S4沪金高速</string>
			<key>description</key>
			<string>上海—金山 高速公路</string>
			<key>openingDate</key>
			<string>2002年12月27日</string>
			<key>length</key>
			<string>56.429</string>
			<key>start</key>
			<string>莘庄立交</string>
			<key>destination</key>
			<string>山阳立交</string>
			<key>exits</key>
			<string>14</string>
		</dict>
        <dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>S5沪嘉高速公路</string>
                    <key>chargeType</key>
                    <string>还贷</string>
                    <key>length</key>
                    <string>18.35</string>
                    <key>startDate</key>
                    <string>1988年10月31日</string>
                    <key>endDate</key>
                    <string>2011年12月31日</string>
                    <key>chargingLength</key>
                    <string>23</string>
                    <key>start</key>
                    <string>汶水路</string>
                    <key>destination</key>
                    <string>嘉定城区</string>
                    <key>tollStationInMainRoad</key>
                    <string>2</string>
                    <key>tollStationInRingRoad</key>
                    <string>2</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>S5沪嘉高速南翔收费站</string>
				<string>S5南翔收费站</string>
				<string>S5马陆收费站</string>
				<string>S5沪嘉高速嘉定城区收费站</string>
			</array>
			<key>code</key>
			<string>S5</string>
			<key>name</key>
			<string>S5沪嘉高速</string>
			<key>description</key>
			<string>上海—嘉定 高速公路</string>
			<key>openingDate</key>
			<string>1988年10月31日</string>
			<key>length</key>
			<string>20.5</string>
			<key>start</key>
			<string>中环沪嘉立交</string>
			<key>destination</key>
			<string>嘉定南门立交</string>
			<key>exits</key>
			<string>不详</string>
		</dict>
        <dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>S19新卫高速公路</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>18.96</string>
                    <key>startDate</key>
                    <string>2005年12月23日</string>
                    <key>endDate</key>
                    <string>2030年7月1日</string>
                    <key>chargingLength</key>
                    <string>25</string>
                    <key>start</key>
                    <string>朱泾</string>
                    <key>destination</key>
                    <string>枫泾</string>
                    <key>tollStationInMainRoad</key>
                    <string>1</string>
                    <key>tollStationInRingRoad</key>
                    <string>2</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>S19吕巷收费站</string>
				<string>S19张堰收费站</string>
				<string>S19新卫高速金山卫收费站</string>
			</array>
			<key>code</key>
			<string>S19</string>
			<key>name</key>
			<string>S19新卫高速</string>
			<key>description</key>
			<string>上海—金山卫 高速公路</string>
			<key>openingDate</key>
			<string>2005年12月23日</string>
			<key>length</key>
			<string>不詳</string>
			<key>start</key>
			<string>新农立交</string>
			<key>destination</key>
			<string>金山区金山卫镇</string>
			<key>exits</key>
			<string>4</string>
		</dict>
        <dict>
			<key>tollRoads</key>
			<array>
				<dict>
					<key>name</key>
					<string>S36亭枫高速公路</string>
                    <key>chargeType</key>
                    <string>经营</string>
                    <key>length</key>
                    <string>20.74</string>
                    <key>startDate</key>
                    <string>2005年12月23日</string>
                    <key>endDate</key>
                    <string>2030年7月1日</string>
                    <key>chargingLength</key>
                    <string>25</string>
                    <key>start</key>
                    <string>吕巷</string>
                    <key>destination</key>
                    <string>金山卫</string>
                    <key>tollStationInMainRoad</key>
                    <string>1</string>
                    <key>tollStationInRingRoad</key>
                    <string>2</string>
				</dict>
			</array>
			<key>tollStations</key>
			<array>
				<string>S36朱泾收费站</string>
				<string>S36兴塔收费站</string>
				<string>S36亭枫高速枫泾收费站</string>
			</array>
			<key>code</key>
			<string>S36</string>
			<key>name</key>
			<string>S36亭枫高速</string>
			<key>description</key>
			<string>亭林-枫泾 高速公路</string>
			<key>openingDate</key>
			<string>2005年12月23日</string>
			<key>length</key>
			<string>20.7</string>
			<key>start</key>
			<string>新农立交</string>
			<key>destination</key>
			<string>G60沪昆高速</string>
			<key>exits</key>
			<string>4</string>
		</dict>
	</array>
</dict>
</plist>
